* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.signup-page-screen,
.login-page-screen {
  position: fixed;
  width: 300px;
  left: 50%;
  margin-top: 90px;
  margin-left: -150px;
}

.imgcom-logo {
  width: 150px;
  left: 50%;
  margin-left: 75px;
  margin-right: 75px;
  margin-bottom: 30px;
}

.input-field-container {
  text-align: center;
}

.field {
  margin: 3px;
  width: 250px;
  height: 3em;
  border-radius: 3px;
  text-shadow: none;
  border-width: 0.5px;
  outline: none;
}

.signup-button,
.login-button {
  margin: 5px;
  width: 250px;
  height: 2em;
  border-radius: 3px;
  text-shadow: none;
  border-width: 0.5px;
  background-color: #f03847;
  border: 1px solid #f03847;
  color: #fff;
  font-size: 16px;
}

.signup-button:active,
.login-button:active {
  background-color: #f03847ce;
  border: 1px solid #f03847ce;
}

.link-to-login,
.link-to-signup {
  text-align: center;
}
